<nav class="nav-container">
    <ul>
        {{#each links}}
        <li class="{{#if @first}}selected{{/if}}">
            <i class="{{this.class}}"></i>
            <a class="navlink" href="#{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
    <div class="theme-changer">
        <button>
            <i class="{{icon_class_dark}}"></i>
            <i class="{{icon_class_light}}"></i>
        </button>
    </div>
</nav>