<div class="container">
    <h2 class="project-title">{{title}}</h2>
    <div id="project-container">
        <div class="project-nav-container">
            <ul>
                {{#each list_items}}<li class="{{#if @first}}selected{{/if}}" data-filter="{{this.data_name}}">{{this.name}}</li>{{/each}}
            </ul>
        </div>
        <div class="project-cards-container">
            {{#each list_cards}}<div class="project-cards {{this.class_name}}" style="height: {{this.height}}px">
                <a target="_blank" href="{{this.url}}">
                    <div class="img-container {{this.img_class}}"></div>
                    <div class="hover-parent">
                        <span class="card-icon {{this.icon_class_name}}"></span>
                        <span class="card-name">{{this.name}}</span>
                        <span class="card-description">{{this.desc}}</span>
                    </div>
                </a>
            </div>{{/each}}
            </ul>
        </div>
    </div>
</div>